body {
    font-family: 'Courier New', Courier, monospace;
    background-color:#dddddd;
    color: #2e2e2e;

}

.header-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
   
}


.content-section-main {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    padding: 10%;
    border: 8px solid #2e2e2e;

}


.compound-container {
    margin-top: 7px;
    margin-bottom: 7px;
}

.compound-entry {
    margin-right: 5px;
}

#compound-form-buttons {
    margin-top: 10px;
}
