<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/styles.css">
    <title>Document</title>
</head>
<body>
    <!-- header -->
    <div class="header-section">
        <h1 id="page-title">Thin Layer Chromatography Simulator</h1>
    </div>


<div class="content-section-main">
    <!-- left content -->
        
    <div class="content-section-sub" id="content-section-left">

        

        <form action="/submit" method="post">
            <label>Compound Entry</label>


            <div class="compound-container" id="compound-container-1">
                <label for="compound-entry-description-1">Compound 1</label><br>
                <input class="compound-entry" id="compound-entry-description-1" type="text" placeholder="Description" name="compound1_description"> 
                <input class="compound-entry" id="compound-entry-rf-1" type="number" min="0" max="1" step="0.01" placeholder="Rf" name="compound1_rf"> 
            </div> 


            <div class="compound-container" id="compound-container-2">
                <label for="compound-entry-description-2">Compound 2</label><br>
                <input class="compound-entry" id="compound-entry-description-2" type="text" placeholder="Description" name="compound2_description"> 
                <input class="compound-entry" id="compound-entry-rf-2" type="number" min="0" max="1" step="0.01" placeholder="Rf" name="compound2_rf"> 
            </div> 

            <div class="compound-container" id="compound-container-3">
                <label for="compound-entry-description-3">Compound 3</label><br>
                <input class="compound-entry" id="compound-entry-description-3" type="text" placeholder="Description" name="compound3_description"> 
                <input class="compound-entry" id="compound-entry-rf-3" type="number" min="0" max="1" step="0.01" placeholder="Rf" name="compound3_rf"> 
            </div> 

            <div class="compound-container" id="compound-container-4">
                <label for="compound-entry-description-4">Compound 4</label><br>
                <input class="compound-entry" id="compound-entry-description-4" type="text" placeholder="Description" name="compound4_description"> 
                <input class="compound-entry" id="compound-entry-rf-4" type="number" min="0" max="1" step="0.01" placeholder="Rf" name="compound4_rf"> 
            </div> 

            <div class="compound-container" id="compound-container-5">
                <label for="compound-entry-description-5">Compound 5</label><br>
                <input class="compound-entry" id="compound-entry-description-5" type="text" placeholder="Description" name="compound5_description"> 
                <input class="compound-entry" id="compound-entry-rf-5" type="number" min="0" max="1" step="0.01" placeholder="Rf" name="compound5_rf"> 
            </div> 

            <div class="buttons-container" id="compound-form-buttons">
                <button id="run-simulation-btn" type="submit">Run Simulation</button>
                <button id="randomize-simulation-btn">Randomize Simulation</button>
            </div>
        </form>



    </div>
    <!-- right content -->
    <div class="content-section-sub" id="content-section-right">
        
        <div class="chroma-plot-container">
            <img id="chroma-plot" src="static/img/test_plot.png">
        </div>
        
    </div>

</div>
    
    
